{% comment %}
  @param countdown_year {String}
    The countdown timer year

  @param countdown_month {String}
    The countdown timer month

  @param countdown_day {String}
    The countdown timer day

  @param countdown_hour {String}
    The countdown timer hour

  @param countdown_minute {String}
    The countdown timer minute

  @param countdown_timer_background {Boolean}
    If true, show the countdown timer background

  @param countdown_timer_complete {Boolean}
    If true, hide the countdown timer when the timer expires

  @param countdown_timer_message {String}
    The message shown when the countdown timer has expired
{% endcomment %}

{%- capture datetime -%}
  {{- countdown_year | append: '-' -}}
  {{- countdown_month | append: '-' -}}
  {{- countdown_day | append: 'T' -}}
  {{- countdown_hour | append: ':' -}}
  {{- countdown_minute | append: ':00.000' -}}
{%- endcapture -%}

{% liquid
  assign timezone = datetime | date: "%z"
  assign datetime = datetime | append: timezone
%}

{%  style  %} 
.ud-spacer {
  padding: 20px;
  border: 1px solid white;
  background-color: #1B175D;
  
}

.ud-countdown {
  background-color: white;
  color: white;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1px;
}

.ud-countdown.countdown__item {
  border: 1px solid white !important;
}

.ud-countdown:nth-child(2),
.ud-countdown:nth-child(3),
.ud-countdown:nth-child(4) {
  border: 1px solid white !important;
}

.ud-divider-maker {
  background-color: #1B175D;
  }

{% endstyle %}

<div
  class="
    countdown
    {% if countdown_timer_background %}
      countdown--has-background
    {% endif %}
    {% if countdown_timer_complete %}
      countdown--hide-items
    {% endif %}
  "
  data-countdown
>
  <div class="ud-spacer">
    <div class="ud-countdown">
        <time
        class="
        countdown__item
        countdown__item--datetime
        "
        datetime="{{ datetime }}"
        data-time
        >
        </time>
      <div class="ud-divider-maker">
        <div
        class="
        countdown__item
        countdown__item--days
        "
        >
          <h2 class="countdown__item-heading" data-days></h2>
          <span class="countdown__item-text">
            {{ 'sections.countdown-timer.days' | t }}
          </span>
        </div>
      </div>  
      <div class="ud-divider-maker">
        <div
          class="
            countdown__item
            countdown__item--hours
          "
        >
          <h2 class="countdown__item-heading" data-hours></h2>
          <span class="countdown__item-text">{{ 'sections.countdown-timer.hours' | t }}</span>
        </div>
      </div>  
      <div class="ud-divider-maker">
        <div
          class="
            countdown__item
            countdown__item--minutes
          "
        >
          <h2 class="countdown__item-heading" data-minutes></h2>
          <span class="countdown__item-text">{{ 'sections.countdown-timer.minutes' | t }}</span>
        </div>
      </div>  
      <div class="ud-divider-maker">
        <div
          class="
            countdown__item
            countdown__item--seconds
          "
        >
          <h2 class="countdown__item-heading" data-seconds></h2>
          <span class="countdown__item-text">{{ 'sections.countdown-timer.seconds' | t }}</span>
        </div>
      </div>
    </div>
  </div>

  {% if countdown_timer_message != blank %}
    <div class="countdown__message">
      {{ countdown_timer_message }}
    </div>
  {% endif %}
</div>
