<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-type="static-announcement">
</script>

{% assign show_everywhere = false %}
{% assign homepage_only = false %}

{% if
  section.settings.show_announcement and
  section.settings.homepage_announcement == false
%}
  {% assign show_everywhere = true %}
{% endif %}

{% if
  section.settings.show_announcement and
  section.settings.homepage_announcement and
  template == 'index'
%}
  {% assign homepage_only = true %}
{% endif %}

{% if show_everywhere or homepage_only %}
    <div
      class="
        announcement-bar
      "
      style="
        color: {{ section.settings.announcement_color }};
        background: {{ section.settings.announcement_background }};
      "
      data-announcement-bar
    >
    
        {% comment %} <a
          class="announcement-bar-link"
          href="{{ section.settings.announcement_link }}"
          ></a> {% endcomment %}

        <div class="announcement-bar-text">
          Call Now: <a href="tel:(401) 454-4487">(401) 454-4487</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Hours: Mon - Fri 8:30 am - 4:30 pm EST&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="{{ pages.contact.url }}">Contact Us</a>
        </div>

      <div class="announcement-bar-text-mobile">
          Call Now: <a href="tel:(401) 454-4487">(401) 454-4487</a>  |  Hours: Mon - Fri 8:30 am - 4:30 pm EST  |  <a href="{{ pages.contact.url }}">Contact Us</a>
      </div>
    </div>
{% endif %}

{% schema %}
{
  "name": "t:sections.announcement_bar.name",
  "class": "site-announcement",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.announcement_bar.header_1.content"
    },
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "t:sections.announcement_bar.show_announcement.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "homepage_announcement",
      "label": "t:sections.announcement_bar.homepage_announcement.label",
      "default": false
    },
    {
      "id": "announcement_link",
      "type": "url",
      "label": "t:sections.announcement_bar.announcement_link.label"
    },
    {
      "id": "announcement_color",
      "type": "color",
      "label": "t:sections.announcement_bar.announcement_color.label",
      "default": "#000000"
    },
    {
      "id": "announcement_background",
      "type": "color",
      "label": "t:sections.announcement_bar.announcement_background.label",
      "default": "#f5f3ed"
    }
  ]
}

{% endschema %}